body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./medias/concert-852575_1920.jpg");
}
.header {
  margin-top: 40px;
}
h1 {
  color: white;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  text-align: center;
  margin: 0;
  padding: 0 0 2%;
  text-shadow: 2px 1px 20px black;
}

.boutonConnexion {
  background-color: purple;
  border-radius: 10px;
  color: white;
  padding: 7px 12px;
  width: fit-content !important;
  margin: 0 0 0 80%;
  font-size: 1.2em;
  border: none;
  text-decoration: none;
  transform: scale(1);
  display: block;
}
.boutonConnexion:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.3) !important;
  opacity: 0.8;
}
.blocFormulaire {
  background-color: #fff;
  opacity: 0.8;
  border-radius: 22px;
  width: 50%;
  margin: 3% 22%;
  padding: 3%;
  display: flex;
  flex-direction: column;
}

#NombrePlaces {
  width: 30%;
}

#pass1jourDate,
#pass2joursDate {
  display: flex;
  margin-bottom: 15px;
  align-items: first baseline;
}

#reservation label {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin: 5px 12px;
}

.bouton {
  background-color: grey;
  border-radius: 20px;
  color: white;
  padding: 7px 12px;
  width: fit-content !important;
  margin: 25px auto 0;
  font-size: 1.2em;
  border: none;
}
.bouton:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: 0.5s;
}
.options {
  display: flex;
  flex-direction: column;
}

.bouton:hover {
  background-color: purple;
}

#coordonnees {
  display: flex;
  flex-direction: column;
}

#coordonnees input {
  margin-bottom: 15px;
  width: 50%;
}

#coordonnees label {
  margin-bottom: 10px;
}

.tarifHidden {
  display: none !important;
}

.hidden {
  display: none !important;
}

.messageErreurChampsVides,
.messageErreurReservation,
.messageErreurCasques,
.messageErreurLuge {
  color: red;
}

/* Connexion */

.connexion {
  background-color: #fff;
  opacity: 0.8;
  border-radius: 22px;
  width: 34%;
  margin: 1.5% 30%;
  padding: 3% 3%;
  display: flex;
  flex-direction: column;
}

#connexion {
  display: flex;
  flex-direction: column;
}

#connexion input {
  margin: 10px 0 20px;
}
.messageechec {
  color: red;
}

/*Page admin*/
.displaynomnum {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 20px;
}
.displayflex {
  display: flex;
  flex-wrap: wrap;
}
.casques {
  margin-left: 20% !important;
}
.reservation {
  background-color: #fff;
  opacity: 0.8;
  border-radius: 22px;
  width: 70%;
  margin: 3% 12%;
  padding: 3%;
  display: flex;
  flex-direction: column;
}
.reservation p {
  margin: 8px;
}
.displaycoordonnee {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.prixPaye {
  margin: 40px 0 0 85% !important;
  font-weight: 600;
  font-size: 20px;
}
